/* comentario.css */

.contenedor {
  position: absolute;
  top: 20px;
  border-radius: 10px;
  overflow: auto;
  padding: 20px;
  margin-top: 60px;
  background-color: #181515ad;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.caja-comentarios {
  display: flex;
  flex-direction: column;
}

.comentario {
  padding: 10px;
  border-radius: 10px;
  background-color: #423e3e;
  margin-bottom: 10px;
  color: white;
  text-align: left;

}

.autor-comentario,
.contenido-comentario {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Cambiado a flex-start para alinear a la izquierda */
  margin-bottom: 10px;
}

.form-control {
  width: 100%;
}

.autor-comentario label,
.contenido-comentario label {
color:white; 

}

/* Estilos para el área de comentario */
.contenido-comentario textarea {
width :100%; 
resize :vertical; /* Permite redimensionar verticalmente */
}

.btn-primary {
border-radius :20px; 
margin-right :10px; /* Agregado margen a la derecha */
background-color:#5e3333; 
display:inline-block; /* Cambiado a inline-block para mostrar en línea */
}

.btn-primary:hover {
background-color:#865a5a; 
}

.form-control {
border-radius :10px; 
border:none; 
padding :10px; 
background-color:#bebebe; 
}

.form-control:focus {
outline:none; 
box-shadow :0 0 5px rgb(104,79,79); 
}

.fecha-publicacion {
color:#888; 
font-size :15px; 
text-align: left;

}

.respuesta-form {
margin-top :10px; /* Agregado margen superior */
text-align:left; 
}

.botones-respuesta {
display:flex; /* Agregado para mostrar los botones en línea */
}

.respuesta {
margin-left :20px; /* Agregar margen izquierdo */
text-align: left;
}

.info-usuario p {
  text-align: left;
}

.btn-primary:hover {
  background-color: #865a5a;
}

.btn-orden {
  border-radius: 20px;
  background-color: #865a5a;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.btn-orden:hover {
  background-color: #a07676;
}

